<div class="flex flex-col min-h-screen">
    <app-company-header *ngIf="!isVideoCall"></app-company-header>

    <div class="flex flex-1" [ngClass]="{'mt-16': !isVideoCall}">
        <app-company-sidebar *ngIf="!isVideoCall"
            [isOpen]="isSidebarOpen"
            (sidebarToggled)="onSidebarToggle($event)"
            appAutoCollapseSidebar
            [isOpen]="isSidebarOpen"
            (isOpenChange)="handleSidebarStateChange($event)">
        </app-company-sidebar>

        <main [ngClass]="{'ml-64': isSidebarOpen && !isVideoCall, 'ml-16': !isSidebarOpen && !isVideoCall}"
              class="flex-1 p-4  transition-all duration-300 ease-in-out bg-lavender dark:bg-dark-lavender">
            <div class="container mx-auto">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
</div>
